examples/Node-RED/范例：温州中学创客空间监控系统
[{"id":"ddb7be6f.b9465","type":"tab","label":"可视化模板","disabled":false,"info":""},{"id":"782b741.013b78c","type":"ui_chart","z":"ddb7be6f.b9465","name":"","group":"dfa78a34.a24e48","order":1,"width":"19","height":"7","label":"温州中学温度变化情况","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"温度表","dot":false,"ymin":"5","ymax":"30","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#00ffff","#000000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1040,"y":60,"wires":[[]]},{"id":"10ba4774.77c559","type":"ui_gauge","z":"ddb7be6f.b9465","name":"","group":"1d711185.97bafe","order":1,"width":"6","height":"6","gtype":"gage","title":"室外实时温度","label":"°C","format":"{{value}}","min":0,"max":"37","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.5","seg2":"0.7","x":1040,"y":20,"wires":[]},{"id":"24cb4016.8d6ab","type":"ui_gauge","z":"ddb7be6f.b9465","name":"室外实时湿度","group":"1d711185.97bafe","order":2,"width":"6","height":"5","gtype":"wave","title":"室外实时湿度","label":" %RH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":120,"wires":[]},{"id":"cca7088a.569738","type":"ui_text","z":"ddb7be6f.b9465","group":"1d711185.97bafe","order":4,"width":"3","height":"2","name":"","label":"最高温","format":"{{msg.payload}}","layout":"col-center","x":1000,"y":320,"wires":[]},{"id":"9156b384.b083","type":"ui_text","z":"ddb7be6f.b9465","group":"1d711185.97bafe","order":5,"width":"2","height":"2","name":"","label":"最低温","format":"{{msg.payload}}","layout":"col-center","x":1000,"y":360,"wires":[]},{"id":"1d7d73de.ec704c","type":"mqtt in","z":"ddb7be6f.b9465","name":"室外温度","topic":"Hkke6qKzV","qos":"2","datatype":"utf8","broker":"3cde4249.2aeabe","x":80,"y":20,"wires":[["10ba4774.77c559","8651eb1b.42cbd8","10eaaded.2f2112"]]},{"id":"d482d5b8.77d568","type":"mqtt in","z":"ddb7be6f.b9465","name":"室外湿度","topic":"HkN-69qIX","qos":"2","datatype":"utf8","broker":"3cde4249.2aeabe","x":80,"y":160,"wires":[["76d0ac67.ebe744","24cb4016.8d6ab"]]},{"id":"f4bd08fd.0c1e58","type":"mqtt in","z":"ddb7be6f.b9465","name":"室内湿度","topic":"HJliMZMtV","qos":"2","datatype":"utf8","broker":"3cde4249.2aeabe","x":80,"y":220,"wires":[["c094b84a.f4ea38"]]},{"id":"34667dee.5fc052","type":"mqtt in","z":"ddb7be6f.b9465","name":"室内温度","topic":"BkBqzbMtN","qos":"2","datatype":"utf8","broker":"3cde4249.2aeabe","x":80,"y":80,"wires":[["a33c256f.a246b8"]]},{"id":"2fa557fd.be1b28","type":"ui_chart","z":"ddb7be6f.b9465","name":"","group":"dfa78a34.a24e48","order":2,"width":"19","height":"7","label":"温州中学湿度变化情况","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"温度表","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#ff0080","#ffff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1060,"y":200,"wires":[[]]},{"id":"a33c256f.a246b8","type":"change","z":"ddb7be6f.b9465","name":"室内温度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"室内温度","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":80,"wires":[["782b741.013b78c"]]},{"id":"8651eb1b.42cbd8","type":"change","z":"ddb7be6f.b9465","name":"室外温度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"室外温度","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":40,"wires":[["782b741.013b78c"]]},{"id":"c094b84a.f4ea38","type":"change","z":"ddb7be6f.b9465","name":"室内湿度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"室内湿度","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["2fa557fd.be1b28"]]},{"id":"76d0ac67.ebe744","type":"change","z":"ddb7be6f.b9465","name":"室外湿度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"室外湿度","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":160,"wires":[["2fa557fd.be1b28"]]},{"id":"70575b6d.e3c9c4","type":"function","z":"ddb7be6f.b9465","name":"邮件内容室内温度","func":"msg.to='baobeizy1214@qq.com';\nmsg.cc='13736354694@139.com';\nmsg.topic='你把你温度传感器给我交了';\nmsg.payload='室内温度传感器出现问题';\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":480,"wires":[["64ba599d.d82148"]]},{"id":"da733a05.c11ee8","type":"function","z":"ddb7be6f.b9465","name":"邮件内容室外温度","func":"msg.to='baobeizy1214@qq.com';\nmsg.cc='13736354694@139.com';\nmsg.topic='你把你温度传感器给我交了';\nmsg.payload='室外温度传感器出现问题';\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":440,"wires":[["64ba599d.d82148"]]},{"id":"64ba599d.d82148","type":"e-mail","z":"ddb7be6f.b9465","server":"smtp.qq.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":970,"y":440,"wires":[]},{"id":"f3e08bb9.99dfc8","type":"function","z":"ddb7be6f.b9465","name":"判断数据","func":"var i = context.get('i')||0;\nif (msg.topic === 'HJliMZMtV' ){\n    i+=1;\n    context.set('i',i);\n}else{\n    i-=1;\n    context.set('i',i);\n}\n\nmsg.payload=i;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":520,"wires":[["1e2050a3.577dbf"]]},{"id":"1e2050a3.577dbf","type":"switch","z":"ddb7be6f.b9465","name":"分析","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":650,"y":520,"wires":[["e2c77c8.cb87f8"]]},{"id":"e2c77c8.cb87f8","type":"function","z":"ddb7be6f.b9465","name":"邮件内容室内湿度","func":"msg.to='baobeizy1214@qq.com';\nmsg.cc='13736354694@139.com';\nmsg.topic='你把你湿度传感器给我交了';\nmsg.payload='室内湿度传感器出现问题';\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":520,"wires":[["64ba599d.d82148"]]},{"id":"43b7eca8.33cf94","type":"function","z":"ddb7be6f.b9465","name":"邮件内容室外湿度","func":"msg.to='baobeizy1214@qq.com';\nmsg.cc='13736354694@139.com';\nmsg.topic='你把你湿度传感器给我交了';\nmsg.payload='室外湿度传感器出现问题';\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":500,"wires":[["64ba599d.d82148"]]},{"id":"1fc8b43.a0b354c","type":"inject","z":"ddb7be6f.b9465","name":"数据运行监控（将其与数据源连接，共同进入判断节点）","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[[]]},{"id":"d03b33e6.ebc2c","type":"switch","z":"ddb7be6f.b9465","name":"分析","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":650,"y":500,"wires":[["43b7eca8.33cf94"]]},{"id":"ba3359d2.29a498","type":"switch","z":"ddb7be6f.b9465","name":"分析","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":650,"y":480,"wires":[["70575b6d.e3c9c4"]]},{"id":"45ec2660.830658","type":"switch","z":"ddb7be6f.b9465","name":"分析","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":650,"y":440,"wires":[["da733a05.c11ee8"]]},{"id":"db6d5a64.d95548","type":"function","z":"ddb7be6f.b9465","name":"判断数据","func":"var i = context.get('i')||0;\nif (msg.topic === 'HkN-69qIX' ){\n    i+=1;\n    context.set('i',i);\n}else{\n    i-=1;\n    context.set('i',i);\n}\n\nmsg.payload=i;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["d03b33e6.ebc2c"]]},{"id":"d6f40d86.0eda2","type":"function","z":"ddb7be6f.b9465","name":"判断数据","func":"var i = context.get('i')||0;\nif (msg.topic === 'BkBqzbMtN' ){\n    i+=1;\n    context.set('i',i);\n}else{\n    i-=1;\n    context.set('i',i);\n}\n\nmsg.payload=i;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":480,"wires":[["ba3359d2.29a498"]]},{"id":"764250f8.3fc18","type":"function","z":"ddb7be6f.b9465","name":"判断数据","func":"var i = context.get('i')||0;\nif (msg.topic === 'Hkke6qKzV' ){\n    i+=1;\n    context.set('i',i);\n}else{\n    i-=1;\n    context.set('i',i);\n}\n\nmsg.payload=i;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["45ec2660.830658"]]},{"id":"29ea9007.124eb","type":"ui_text","z":"ddb7be6f.b9465","group":"1d711185.97bafe","order":3,"width":"6","height":"1","name":"","label":"今日温度峰值","format":"","layout":"col-center","x":1160,"y":320,"wires":[]},{"id":"9bcb052f.21d9f8","type":"switch","z":"ddb7be6f.b9465","name":"温度峰值分析","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"High","vt":"global"},{"t":"lte","v":"Low","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":340,"wires":[["b47a430e.c7a7d"],["9cb82a2b.2845d8"]]},{"id":"b47a430e.c7a7d","type":"function","z":"ddb7be6f.b9465","name":"High","func":"global.set('High',msg.payload);\nvar High=global.get('High',High)\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":320,"wires":[["cca7088a.569738"]]},{"id":"9cb82a2b.2845d8","type":"function","z":"ddb7be6f.b9465","name":"Low","func":"global.set('Low',msg.payload);\nvar Low=global.get('Low',Low)\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":360,"wires":[["9156b384.b083"]]},{"id":"10eaaded.2f2112","type":"function","z":"ddb7be6f.b9465","name":"初始赋值全局变量","func":"\nvar High = global.get('High')||0;\nvar Low = global.get('Low')||100;\nglobal.set('High',High);\nglobal.set('Low',Low);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["9bcb052f.21d9f8"]]},{"id":"dfa78a34.a24e48","type":"ui_group","z":"","name":"折线图","tab":"f2d2fc0d.02c3d","order":4,"disp":false,"width":"20","collapse":false},{"id":"1d711185.97bafe","type":"ui_group","z":"","name":"小图表","tab":"f2d2fc0d.02c3d","order":1,"disp":false,"width":"6","collapse":false},{"id":"3cde4249.2aeabe","type":"mqtt-broker","z":"","name":"easyiot","broker":"182.254.130.180","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f2d2fc0d.02c3d","type":"ui_tab","z":"","name":"温州中学创客空间温湿度监控系统","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
